@using WebsiteBanDienThoai.Models;
@*Định nghĩa kiểu dữ liệu cho Model*@
@model List<DienThoai>
<link href="~/Content/home-index.css" rel="stylesheet" />
<script src="https://apps.elfsight.com/p/platform.js" defer></script>

@{
    ViewBag.Title = "DienThoaiMoi";
    Layout = "~/Views/LayOut/NguoiDungLayout.cshtml";
}
<div class="main-container nav-bg-color">
    <div class="inside-container nav-contain">
        <h1 class="item-header">Điện Thoại mới</h1>
        @{
            foreach (var item in Model)
            {
                <div class="activity-list-update">
                    <img src="@Url.Content("~/HinhAnhSP/"+item.AnhBia)" width="500" height="500" alt="Image">
                    @*Nếu tên Điện Thoại dài quá 30 kí tự thì chỉ lấy từ ký tự 0 đến 30*@
                    @if (item.TenDienThoai.Length > 30)
                    {
                        <p><strong titile="@item.TenDienThoai">Tiêu đề : </strong>@item.TenDienThoai.Substring(0, 30)...<br /><a href="@Url.Action("XemChiTiet", "DienThoai", new { @_MaDienThoai=item.MaDienThoai})">Xem chi tiết</a></p>
                    }
                    else
                    {
                        <p><strong titile="@item.TenDienThoai">Tiêu đề : </strong>@item.TenDienThoai<br /><a href="@Url.Action("XemChiTiet", "DienThoai", new { @_MaDienThoai=item.MaDienThoai})">Xem chi tiết</a></p>
                        <div class="clear"></div>
                    }
                </div>
            }
        }
        <a href="#" class="item-footer green">Điện Thoại loại mới nhất</a>
    </div>
</div>